//  消息文本居右
#chat-page .chat-me .am-list-extra {
    flex-basis: auto;  // 宽度包裹内容
}

#chat-page .chat-me .am-list-content {
    padding-right: 15px;
    text-align: right;
}

.am-list-body {
    .am-list-item {
        border-top: 1px solid #1cae82;
    }
}
